//Define colors

$background: #f4f4f4;
$panel-bg: #fff;
$border: #BBB;
$bg-button: #29ce6e;
$date: #999;
$content-text: #333;

//Control circles colors
$red: #f00;
$blue: #00f;
$yellow: #f90;


//Fonts
$main-font: Arial, Helvetica, sans-serif;