@import '../styles/variables';
@import '../styles/buttons';

.Comments{
  background: $background;
  border: solid 1px $border;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  
  ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: inside;
  }

  .item{
    .avatar{
      padding: 20px;
      width: 10%;
      display: inline-block;
      vertical-align: top;
  
      .image{
        display: inline-block;
        max-width: 3rem;
        max-height: 3rem;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .content{
      width: 75%;
      text-align: left;
      padding: 20px;
      display: inline-block;
      vertical-align: top;
      line-height: 1.2rem;
  
      .title{
        color: $bg-button;
        font-family: $main-font;
        font-size: .9rem;
        margin-right: 10px;
      }
      .date{
        color: $date;
        font-family: $main-font;
        font-size: .7rem;
        display: block;
      }
      .desc{
        color: $content-text;
        font-family: $main-font;
        font-size: .9rem;
        display: block;
        margin: 0;
      }
    } 
  
  }

  textarea{
    width: 80%;
    height: 100%;
    background: $panel-bg;
    border: solid 1px $border;
    padding: 10px;
    margin: 20px 0;
  }

  textarea[placeholder]{
    color: $bg-button;
    font-family: $main-font;
    font-size: 1rem;
  }

  .control{
    text-align: right;
    padding: 5px;
  }

}

