@import '../styles/variables';
@import '../styles/buttons';

.Compose{
  background: $panel-bg;
  border: solid 1px $border;
  max-width: 700px;
  margin: 20px auto ;
  

  textarea{
    width: 97%;
    height: 40px;
    background: transparent;
    border: none;
    padding: 10px;
  }

  textarea[placeholder]{
    color: $bg-button;
    font-family: $main-font;
    font-size: 1rem;
  }

  .control{
    border-top: solid 1px $border;
    text-align: right;
    padding: 5px;
  }

}

