@import '../styles/variables';
@import '../styles/buttons';

.Posts{
  background: $panel-bg;
  border: solid 1px $border;
  max-width: 700px;
  margin: 20px auto 0 auto;

  .avatar{
    padding: 20px;
    width: 10%;
    display: inline-block;
    vertical-align: top;

    .image{
      display: inline-block;
      max-width: 3rem;
      max-height: 3rem;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      }
  }

  .content{
    width: 75%;
    text-align: left;
    padding: 20px;
    display: inline-block;
    vertical-align: top;

    .title{
      color: $bg-button;
      font-family: $main-font;
      font-size: 1.1rem;
      display: block;
    }
    .date{
      color: $date;
      font-family: $main-font;
      font-size: .7rem;
      display: block;
    }
    .desc{
      color: $content-text;
      font-family: $main-font;
      font-size: 1rem;
      display: block;
    }

    .secundary-button{
      color: $bg-button;
      font-family: $main-font;
      font-size: 1rem;
      padding-right: 10px;
      font-style: none;
      cursor: pointer;
    }

  }

  .footer{
    width: 100%;
    display: block;
    text-align: left;
    border-top: solid 1px $border;

    .controls{     
      padding: 10px 20px;
      display: inline-block;
      width: 40%;
      vertical-align: middle;

      span{
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        border: solid 1.7px $panel-bg;
        margin-right: -10px;
      }

      .red{
        background: $red;
      }
      .blue{
        background: $blue;
      }
      .yellow{
        background: $yellow;
      }
      .count{
        color: $bg-button;
        font-family: $main-font;
        font-size: 1rem;
        padding-right: 10px;
        font-style: none;
        margin-left: 20px;
        font-weight: bold;
      }


    }
    .comments{
      width: 50%;
      display: inline-block;
      text-align: right;
      color: $date;
      font-family: $main-font;
      font-size: .8rem;
    }
      
  }

  .control{
   
    text-align: right;
    padding: 5px;
  }

}

