@import 'styles/variables';

.App {
  text-align: center;
  background-color: $background;
  
}

.App-header{
  background-color: $panel-bg;
  max-width: 700px;
  margin: 0 auto;

  
  h1{
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  

  a{
    color: $bg-button;
    font-family: $main-font;
    font-style: none;
  }
}
